body {
    padding: 50px;
}


#mobile1,#mobile2 {
    width: 414px;
    height: 736px;
    border: 1px solid;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:40px;
}




.header .title {
    font-family: 'Nunito', serif;
    font-size: 3.5em;
    font-weight: 100;
    width: 100%;
    margin-bottom: 0.5em;
    margin-left: 0.2em;
}


h2{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 20pt;
}


p{
    text-align: justify;
}


#mobile1 {
    color: #fff;
    background: linear-gradient(130deg, #b8bcd5, #e8cfd3);
    font-family: "proxima-nova", 'Montserrat', sans-serif;
    overflow: hidden;
    animation: animatedBackground 40s linear infinite;
    position: relative;
}



#mobile1 .today {
    text-transform: uppercase;
    text-align: center;
}


#mobile1 .today h0 {
    position: absolute;
    font-family: 'Calibri', serif;
    font-weight: 500;
    letter-spacing: 0.05em;
    font-size: 2.5em;
    top: 4px;
    left: 20px;
    
}

#mobile1 .today h00 {
    position: absolute;
    font-family: 'Calibri', serif;
    font-weight: 500;
    letter-spacing: 0.05em;
    font-size: 2.5em;
    top: 4px;
    left: 375px;
    
}

#mobile1 .today h1 {
    position: absolute;
    font-family: 'Roboto Condensed', serif;
    font-weight: 300;
    letter-spacing: 0.4em;
    font-size: 0.95em;
    top: 1.5em;
    left: 135px;
/*
    margin-top: 1.5em;
    margin-right: -0.5em;
*/
}


#mobile1 .today h5 {
    position: absolute;
    font-family: 'Calibri', serif;
    font-weight: 500;
    letter-spacing: 0.05em;
    font-size: 5.5em;
    top: 85px;
    left: 260px;
    
}

#mobile1 .today h6 {
    position: absolute;
    font-family: 'Roboto Condensed', serif;
    font-weight: 300;
    letter-spacing: 1.6em;
    font-size: 0.7em;
    top: 80px;
    left: 267px;
    
}

#mobile1 .today h7 {
    position: absolute;
    font-family: 'Roboto Condensed', serif;
    font-weight: 250;
    letter-spacing: 0.05em;
    font-size: 1em;
    top: 173px;
    left: 264px;
    z-index: 3;
}

#mobile1 .today h8 {
    position: absolute;
    font-family: 'Calibri', serif;
    font-weight: 500;
    letter-spacing: 0.05em;
    font-size: 5.5em;
    top: 320px;
    left: 40px;
transform: rotate(180deg);
    opacity: 0.5;
    z-index: 0;
    
}

#mobile1 .today h9 {
    position: absolute;
    font-family: 'Roboto Condensed', serif;
    font-weight: 300;
    letter-spacing: 0.25em;
    font-size: 0.7em;
    top: 330px;
    left: 47px;
    transform: rotate(180deg);
    opacity: 0.5;
    z-index: 3;
    
}

#mobile1 .today h10 {
    position: absolute;
    font-family: 'Roboto Condensed', serif;
    font-weight: 200;
    letter-spacing: 0.1em;
    font-size: 1em;
    top: 600px;
    left: 50px;
    z-index: 3;
}

#mobile1 .today h11 {
    position: absolute;
    font-family: 'Roboto Condensed', serif;
    font-weight: 200;
    letter-spacing: 0.1em;
    font-size: 1em;
    top: 600px;
    left: 150px;
    z-index: 3;
}

#mobile1 .today h12 {
    position: absolute;
    font-family: 'Roboto Condensed', serif;
    font-weight: 200;
    letter-spacing: 0.1em;
    font-size: 1em;
    top: 600px;
    left: 250px;
    z-index: 3;
}

#mobile1 .today h13 {
    position: absolute;
    font-family: 'Roboto Condensed', serif;
    font-weight: 200;
    letter-spacing: 0.1em;
    font-size: 1em;
    top: 600px;
    left: 350px;
    z-index: 3;
}

#mobile1 .today h14 {
    position: absolute;
    font-family: 'Roboto Condensed', serif;
    font-weight: 200;
    letter-spacing: 0.1em;
    font-size: 1em;
    top: 700px;
    left: 40px;
    z-index: 3;
}

#mobile1 .today h15 {
    position: absolute;
    font-family: 'Roboto Condensed', serif;
    font-weight: 200;
    letter-spacing: 0.1em;
    font-size: 1em;
    top: 700px;
    left: 140px;
    z-index: 3;
}

#mobile1 .today h16 {
    position: absolute;
    font-family: 'Roboto Condensed', serif;
    font-weight: 200;
    letter-spacing: 0.1em;
    font-size: 1em;
    top: 700px;
    left: 240px;
    z-index: 3;
}
#mobile1 .today h17 {
    position: absolute;
    font-family: 'Roboto Condensed', serif;
    font-weight: 200;
    letter-spacing: 0.1em;
    font-size: 1em;
    top: 700px;
    left: 340px;
    z-index: 3;
}

#mobile1 .today .fahrenheit {
    position: absolute;
    font-family: 'Bahnschrift', serif;
    font-weight: 200;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 1.3em;
    top: 102px;
    left: 353px;
}


#mobile1 .today .hour0 {
    position: absolute;
    top: 140px;
    left: 80px;
    width: 253px;
    height: 253px;
    border-radius: 100%;
    background: linear-gradient(to right, #93a8d1, #93a8d1);
    z-index: 1;

}

#mobile1 .today .weather {
    position: absolute;
    top: 140px;
    left: 80px;
   border-width: 0%;
 z-index: 2;
    mix-blend-mode: soft-light

}

#mobile1 .today .weatherm1 {
    position: absolute;
    top: 630px;
    left: 30px;
    width: 60px;
    height: 60px;
   border-width: 0%;
 z-index: 2;
    mix-blend-mode: soft-light

}

#mobile1 .today .weathern {
    position: absolute;
    top: 630px;
    left: 130px;
    width: 60px;
    height: 60px;
   border-width: 0%;
 z-index: 2;
    mix-blend-mode: soft-light

}

#mobile1 .today .weather1 {
    position: absolute;
    top: 630px;
    left: 230px;
    width: 60px;
    height: 60px;
   border-width: 0%;
 z-index: 2;
    mix-blend-mode: soft-light

}

#mobile1 .today .weather2 {
    position: absolute;
    top: 630px;
    left: 330px;
    width: 60px;
    height: 60px;
   border-width: 0%;
 z-index: 2;
    mix-blend-mode: soft-light

}

#mobile1 .today .hour2 {
    position: absolute;
    top: 630px;
    left: 30px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: linear-gradient(to right, #bcb8d1, #93a8d1, #93a8d1, #93a8d1);

}


#mobile1 .today .hour4 {
    position: absolute;
    top: 630px;
    left: 130px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: linear-gradient(to right, #cec0cf, #93a8d1, #93a8d1);

}

#mobile1 .today .hour6 {
    position: absolute;
  top: 630px;
    left: 230px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: linear-gradient(to right, #d8c4d0, #b9b7cf, #93a8d1);

}

#mobile1 .today .hour8 {
    position: absolute;
    top: 630px;
    left: 330px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: linear-gradient(to right, #e1c7d0, #e1c7d0, #beb8d0, #93a8d1);
    z-index: 1;

}

#mobile1 .today .hour10 {
    position: absolute;
    top: 140px;
    left: 80px;
    width: 253px;
    height: 253px;
    border-radius: 100%;
    background: linear-gradient(to right, #f5cecf, #f5cecf, #cbbed0);
    z-index: 1;

}

#mobile1 .today .hour12 {
    position: absolute;
    top: 630px;
    left: 30px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: linear-gradient(to right, #f5cfcf, #f5cfcf);

}

#mobile1 .today .hour14 {
    position: absolute;
    top: 630px;
    left: 130px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: linear-gradient(to right, #f5cecf, #f5cecf, #cbbed0);

}

#mobile1 .today .hour16 {
    position: absolute;
  top: 630px;
    left: 230px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: linear-gradient(to left, #e1c7d0, #e1c7d0, #beb8d0, #93a8d1);

}

#mobile1 .today .hour18 {
    position: absolute;
    top: 630px;
    left: 330px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: linear-gradient(to left, #d8c4d0, #b9b7cf, #93a8d1);

}

#mobile1 .today .hour20 {
    position: absolute;
    top: 140px;
    left: 80px;
    width: 253px;
    height: 253px;
    border-radius: 100%;
    background: linear-gradient(to left, #cec0cf, #93a8d1, #93a8d1);
    
}

#mobile1 .today .hour22 {
    position: absolute;
    top: 140px;
    left: 80px;
    width: 253px;
    height: 253px;
    border-radius: 100%;
    background: linear-gradient(to left, #bcb8d1, #93a8d1, #93a8d1, #93a8d1);

}

#mobile2 .art{
    position: relative;
    z-index: 1;
    
}


#mobile2 .weatherw{
    position: relative;
    top: -736px;
    z-index: 2;
    
}


