body {
    padding: 50px;
}


#mobile1,#mobile2 {
    width: 414px;
    height: 736px;
    border: 1px solid;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:40px;
}


.header .title {
    font-family: 'Nunito', serif;
    font-size: 3.5em;
    font-weight: 100;
    width: 100%;
    margin-bottom: 0.5em;
    margin-left: 0.2em;
}


h2{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 20pt;
}

#mobile1 {
    color: #fff;
    background: linear-gradient(150deg, #b8bcd5, #e8cfd3);
    font-family: "proxima-nova", 'Montserrat', sans-serif;
    overflow: hidden;
    animation: animatedBackground 40s linear infinite;
    position: relative;
}



#mobile1 .today {
    text-transform: uppercase;
    text-align: center;
/*    padding: 1.5em 1em 1em;*/
}


#mobile1 .today h1 {
    font-family: 'Roboto Condensed', serif;
    font-weight: 300;
    letter-spacing: 0.4em;
    font-size: 0.95em;
    margin-top: 1.5em;
    margin-right: -0.5em;
}


#mobile1 .today .fahrenheit {
    font-family: 'Bahnschrift', serif;
    font-weight: 200;
    letter-spacing: 0.2em;
    cursor: pointer;
}


#mobile1 .today .hour0 {
    position: relative;
    top: 20px;
    left: 80px;
    width: 253px;
    height: 253px;
    border-radius: 100%;
    background: linear-gradient(to right, #93a8d1, #93a8d1);

}

#mobile1 .today .hour2 {
    position: relative;
    top: 20px;
    left: 80px;
    width: 253px;
    height: 253px;
    border-radius: 100%;
    background: linear-gradient(to right, #bcb8d1, #93a8d1, #93a8d1, #93a8d1);

}


#mobile1 .today .hour4 {
    position: relative;
    top: 20px;
    left: 80px;
    width: 253px;
    height: 253px;
    border-radius: 100%;
    background: linear-gradient(to right, #cec0cf, #93a8d1, #93a8d1);

}

#mobile1 .today .hour6 {
    position: relative;
    top: 20px;
    left: 80px;
    width: 253px;
    height: 253px;
    border-radius: 100%;
    background: linear-gradient(to right, #d8c4d0, #b9b7cf, #93a8d1);

}

#mobile1 .today .hour8 {
    position: relative;
    top: 20px;
    left: 80px;
    width: 253px;
    height: 253px;
    border-radius: 100%;
    background: linear-gradient(to right, #e1c7d0, #e1c7d0, #beb8d0, #93a8d1);

}

#mobile1 .today .hour10 {
    position: relative;
    top: 20px;
    left: 80px;
    width: 253px;
    height: 253px;
    border-radius: 100%;
    background: linear-gradient(to right, #f5cecf, #f5cecf, #cbbed0);

}

#mobile1 .today .hour12 {
    position: relative;
    top: 20px;
    left: 80px;
    width: 253px;
    height: 253px;
    border-radius: 100%;
    background: linear-gradient(to right, #f5cfcf, #f5cfcf);

}

#mobile1 .today .hour14 {
    position: relative;
    top: 20px;
    left: 80px;
    width: 253px;
    height: 253px;
    border-radius: 100%;
    background: linear-gradient(to left, #f5cecf, #f5cecf, #cbbed0);

}

#mobile1 .today .hour16 {
    position: relative;
    top: 20px;
    left: 80px;
    width: 253px;
    height: 253px;
    border-radius: 100%;
    background: linear-gradient(to left, #e1c7d0, #e1c7d0, #beb8d0, #93a8d1);

}

#mobile1 .today .hour18 {
    position: relative;
    top: 20px;
    left: 80px;
    width: 253px;
    height: 253px;
    border-radius: 100%;
    background: linear-gradient(to left, #d8c4d0, #b9b7cf, #93a8d1);

}

#mobile1 .today .hour20 {
    position: relative;
    top: 20px;
    left: 80px;
    width: 253px;
    height: 253px;
    border-radius: 100%;
    background: linear-gradient(to left, #cec0cf, #93a8d1, #93a8d1);
    
}

#mobile1 .today .hour22 {
    position: relative;
    top: 20px;
    left: 80px;
    width: 253px;
    height: 253px;
    border-radius: 100%;
    background: linear-gradient(to left, #bcb8d1, #93a8d1, #93a8d1, #93a8d1);

}


/*
#mobile1 .today .am1 {
    position: relative;
    top: 20px;
    left: 80px;
    width: 253px;
    height: 253px;
    border-radius: 100%;
    background: linear-gradient(to left, #f5cfcf, rgb(255, 96, 133), rgba(255, 128, 133, 0.69), rgba(255, 182, 170, 0));
    background: linear-gradient(to right, #f5cfcf, #93a8d1);

}
*/
